
// Configure Bootstrap
$icon-font-path: "./";

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}